body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  color: Coral;
}

.flex {
  display: flex;
}

.flex.full-height {
  height: 100vh;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

/*  flex:1 giver boxes muligheden for at fylde så meget som den kan. med to boxes som har flex: 1 og flex: 2, vil boxene
fylde henholdsvis flex:1 = 1/3  flex: 2 = 2/3*/

ul {
  flex: 1;
}

#showModal {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: Coral;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}


.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
